<section>
    <header>
    </header>

    <section>
        <h3>Past Entries</h3>
            <ul>
                <%= @entries.each do |entry| %>
                    <li><%= entry.date %></li>
                <% end %>
            </ul>
    </section>

    <section>
        <h4>Breakfast</h4>
        <h4>Lunch</h4>
        <h4>Dinner</h4>
        <h4>Snacks</h4>
    </section>
    
    <footer>
    </footer>

</section>

<%= link_to 'Create Entry', new_entry_path(@user) %>
