<section>
    <h1>Create Food Diary Entry</h1>
    <%= form_for(@entry) do |f| %>
        <p>
            <%= f.label :entry_date, 'Entry Date' %>
            <%= f.date_field :entry_date %>
        </p>
        
        <fieldset>
            <p>
                <label>Breakfast</label>
                <name="daily_entry[meals_attributes][][breakfast]">
            </p>
        </fieldset>

        <fieldset>
            <p>
                <label>Lunch</label>
                <name="daily_entry[meals_attributes][][lunch]">
            </p>
        </fieldset>

        <fieldset>
            <p>
                <label>Dinner</label>
                <name="daily_entry[meals_attributes][][dinner]">
            </p>
        </fieldset>

        <fieldset>
            <p>
                <label>Snack</label>
                <name="daily_entry[meals_attributes][][snack]">
            </p>
        </fieldset>
        <br>
        <%= f.submit 'Save' %>
    <% end %>
</section>





